.controller {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.controller i {
  font-size: 40px;
}

.controller #reset {
  margin-left: 30px;
}

.controller button {
  width: 100px;
  height: 100px;
  color: blue;
}

.controller span:hover {
  cursor: pointer;
}