@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

#root {
  display: flex;
  justify-content: center;
  transform: translateY(60%);
}

@media screen and (max-width: 500px) {
  #root {
    transform: translateY(15%);
  }
}